/* Utilities */
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.fw-medium{
    font-weight: 500;
}
.blue-bg{
    background-color: #052F48;
}

/* search box */
.search-div{
    width: 50%;
}

/* mobile details */
#mobile-details{
    width: 80%;
    display: none;
}
.release-date{
    column-gap: 5px;
}

/* error messages */
.error-message{
    width: 350px;
    display: none;
}

/* spinner */
.spinner{
    height: 70vh;
    display: none;
}

/* media queries */
@media only screen and (max-width:992px) {
    /* search box */
    .search-div{
        width: 100%;
    }
}