
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.fw-medium{
    font-weight: 500;
}
.blue-bg{
    background-color: #052F48;
}

#mobile-details{
    width: 80%;
    display: none;
}
.close-button{
    top: 10px;
    right: 10px;
}
.error-message{
    width: 350px;
    display: none;
}
